{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    [
      "babel-plugin-root-import",
      {
        "paths": [
          {
            "rootPathPrefix": "@/",
            "rootPathSuffix": "./src/"
          },
          {
            "rootPathPrefix": "~/",
            "rootPathSuffix": "./test/"
          }
        ]
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        // "decoratorsBeforeExport": true,
        "legacy": true
      }
    ],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "env": {
    "debug": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
